.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media (min-width: 900px) {
  .pokedex-grid {
    grid-template-columns: repeat(3, 3fr);
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
