.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0px 30px;
  align-items: center;
}

.searchbar-container-search {
  background: whitesmoke;
  margin-right: 30px;
}

.searchbar-container-search input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar-container-search input:focus {
  outline: none;
}

.searchbar-container-button button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
}
